.drop-element>label{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    max-width: none;
    min-width: 0;
    
  
    
}
.drop-element>label>div{
    display: flex;
    justify-content: center;
}

.paginator>li{
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px solid;
    background-color:#111827;
    color: #ffffff;
    border-radius: 50%;
}
